.layout {
  display: flex;
  height: 100%;
  border-top: 1px solid #5b5b5b;
}

.right {
  margin: 10px;
  width: 100%;
}

.left {
  border-right: 1px solid #5b5b5b;
}

.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
