<cdk-drop-list (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
  <table *ngIf="documents">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Last Changed</th>
    </tr>

    <tr
      *ngFor="let document of documents"
      (dblclick)="selected(document)"
      app-document-row
      [document]="document"
      cdkDrag
      (cdkDragReleased)="drag($event)"
    >
      <div *cdkDragPreview>
        <i *ngIf="document.isFolder" class="material-icons">folder</i>
        <i *ngIf="!document.isFolder" class="material-icons">description</i>
      </div>
    </tr>
  </table>
</cdk-drop-list>
