<table *ngIf="documents">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Last Changed</th>
  </tr>
  <ng-container>
    <tbody
      *ngFor="let document of documents"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="document"
      (cdkDropListExited)="exited($event)"
      (cdkDropListEntered)="entered()"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="noReturnPredicate"
    >
      <tr class="temp" app-document-row [document]="document"></tr>
      <tr
        cdkDrag
        (dblclick)="selected(document)"
        app-document-row
        [cdkDragData]="document"
        [document]="document"
        (cdkDragStarted)="start($event)"
        (cdkDragDropped)="stop($event)"
      >
        <div *cdkDragPreview>
          <i *ngIf="document.isFolder" class="material-icons">folder</i>
          <i *ngIf="!document.isFolder" class="material-icons">description</i>
        </div>
      </tr>
    </tbody>
  </ng-container>
</table>
