<mat-tree *ngIf="folders" [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node" class="example-tree-node">
    <div
      [class.selected]="node.id == selectedId"
      [style.paddingLeft]="getPadding(node)"
      (click)="onClick(node)"
    >
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled matTreeNodeToggle></button>
      <i class="material-icons folder-icon">folder</i>
      <span>{{ node.name }}</span>
    </div>
  </mat-nested-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    class="example-tree-node"
  >
    <div
      [class.selected]="node.id == selectedId"
      [style.paddingLeft]="getPadding(node)"
      (click)="onClick(node)"
    >
      <button mat-icon-button matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <i class="material-icons folder-icon">folder</i>
      <span>{{ node.name }}</span>
    </div>

    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
