:host {
  width: 600px;
}

:host > .cdk-tree-node {
  font-size: 13px;
}

:host .material-icons {
  font-size: 20px;
}

.cdk-tree-node button {
  height: 25px;
  width: 25px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

/*
padding for nested nodes 
.example-tree-node .example-tree-node {
  padding-left: 22px;
} */

cdk-nested-tree-node {
  display: flex;
  align-items: center;
}

.folder-icon {
  top: 5px;
  position: relative;
  padding-right: 5px;
  color: orange;
}

button .mat-icon {
  line-height: 23px;
}

button {
  padding: 0;
  min-width: 0;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  vertical-align: baseline;
  text-align: center;
}

.selected {
  background-color: lightblue;
}

cdk-nested-tree-node span i {
  margin-top: 10px;
}

.cdk-drop-list-dragging {
  border: 2px solid gray;
}

.cdk-drop-list-dragging.drag-from {
  border: none;
}

/* Fixes "bug" / feature in cdkDrag */
.cdk-drop-list-dragging > .cdk-drag {
  transform: none !important;
}

.selected:first-child {
  background-color: lightblue;
}

.cdk-drop-list > .temp {
  display: none;
}

.cdk-drop-list.drag-from > .temp {
  display: block;
}

.cdk-drag-placeholder {
  display: none;
}
